

.nav {

    font-size: 1.3em;
}

img {
    margin-top: 5%;
}

#contact {
   margin-top: 10%;

}

#bathroom {
    margin-top: 12%;

}



.phone {
    margin-top: 10%;
}

footer {

    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 1%;
    background-color: #333333;
    text-align: center;
    color: white;

}

.fa-linkedin-square {
    color: white;
}