body p {
    font-size: 1.2em;
}

.nav {

    font-size: 1.3em;
}

img {
    margin-top: 5%;
}

.container-fluid {
   margin-top: 5%;
}

#bathroom {
    margin-top: 12%;
}

#electricity {
    margin-top: 12%;
}

#wood {
    margin-top: 12%;
}

footer {

    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 1%;
    background-color: #333333;
    text-align: center;
    color: white;

}

.fa-linkedin-square {
    color: white;
}